#stats-n-participants {
	position: fixed;
	bottom: -5px;
	left: 0px;
	right: 0px;
	text-align: center;

	> span {
		> span {
			font-size: 28px;
			display: inline-block;
			animation: show-participant 3.6s;
		}
	}
}
