html, body {
  background: black;
  color: white;
}

body * {
  transition: all 0.5s;
}

main.error {
  pointer-events: none;
}

nav {
  background: linear-gradient(#333, black);
}

.error nav {
  pointer-events: none;
  background: linear-gradient(red, black);
}

nav ul {
  margin: 0px;
  padding: 16px 24px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  background: linear-gradient(#222, #111);
  box-shadow: 0px 0px 10px 10px #333;
  border-radius: 8px;
  padding: 8px 12px;
  color: #CCC;
  cursor: pointer;
  margin: 0px 12px;
}
nav > ul > li {
  animation: show-nav-button 1.2s;
}

@media (min-width: 900px) {
  nav ul li:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  nav > ul {
    padding: 1vh 2vw;

    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-gap: 3vw;
  }

  nav > ul > li {
    text-align: center;
    margin: 6px 0px;
  }
}

@media (max-width: 480px) {
  nav > ul {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-gap: 1vh 5vw;
  }
}

@media (max-width: 320px) {
  nav > ul {
    display: grid;
    grid-template-columns: 96vw;
    grid-gap: 0px;
  }
}

nav ul li:hover {
  box-shadow: 0px 0px 12px 16px #444;
  border-radius: 5px;
  color: white;
  background: linear-gradient(#222, black);
}

nav ul.submenu {
    padding: 4px;
}

nav ul.submenu li {
    display: block;
    margin: 12px 0px;
    padding: 2px;
    background: #333;
    text-align: center;
    box-shadow: 0px 0px 5px 5px #333;
}

nav ul.submenu li:last-child  {
    margin-bottom: 2px;
}

nav ul.submenu li:hover {
    background: #333;
    box-shadow: 0px 0px 8px 8px #444;
}

h1 {
  text-align: center;
  margin: 10px auto 40px auto;
  box-shadow: 0px 0px 10px 10px #444;
  padding: 8px 16px;
  background: #444;
  color: #EEE;
  overflow: hidden;
  animation: show-title 0.5s;
}

p#error {
  text-align: center;
  margin: 10px auto 40px auto;
  box-shadow: 0px 0px 10px 10px red;
  padding: 8px 16px;
  background: red;
  color: black;
  animation: show-error 0.5s;
}

article {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-gap: 3vw;
  justify-content: center;
  margin: 20px;
}

.error article {
  opacity: 0.8;
}

@media (max-width: 1400px) {
  article {
    grid-template-columns: 45vw 45vw;
  }
}

@media (max-width: 900px) {
  article {
    grid-template-columns: 95vw;
  }
}

article > section {
  background: #222;
  box-shadow: 0px 0px 20px 20px #444;
  overflow: hidden;
  animation: show-section 1.2s ease;
  width: 100%;
  margin-bottom: 3vh;
}

article > section > h2 {
  text-align: center;
  cursor: default;
}

ul.items {
  list-style-type: none;
  padding: 0px;
}

ul.items li {
  display: flex;
  background: #444;
  box-shadow: 0px 0px 6px 6px #444;
  padding: 8px 16px;
  margin: 16px 0px;
  animation: add-item 0.5s ease;
}

ul.items li.newItem {
  background: #333;
  box-shadow: 0px 0px 6px 6px #333;
}

ul.items li.newItem form {
  flex-grow: 1;
}

ul.items li.newItem input {
  width: 100%;
  background: #333;
  border: 0px;
  font-size: 1rem;
  color: white;
}

ul.items li.newItem input::placeholder {
  color: #AAA;
}

ul.items li .vote {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
}

ul.items li .vote button {
  display: inline-block;
  opacity: 0.5;
  padding: 3px;
  text-decoration: none;
  transition: all 0.2s;
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  animation: show-vote-button 0.4s;
}

ul.items li .vote button:hover {
  opacity: 1;
  transform: scale(1.8);
}

ul.items li .content {
  display: inline-block;
  overflow-wrap: anywhere;
  flex-grow: 1;
}

ul.items li.editing {
  background: #333;
  box-shadow: 0px 0px 7px 7px #333;
}

ul.items li.editing .content input {
  background: transparent;
  border: 0px;
  color: white;
  font-size: 1em;
  width: 100%;
}

ul.items li .content .votes {
  margin-left: 4px;
}

ul.items li.editing .content .votes {
  margin-left: 4px;
}

ul.items li .content .votes .upvote {
  display: inline-block;
  animation: upvote 0.4s;
  font-size: 1.1em;
}

ul.items li .content .votes .downvote {
  display: inline-block;
  animation: downvote 0.4s;
  font-size: 1.1em;
}

/**
 * Animations
 */

@keyframes add-item {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes show-section {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 10px 10px #444;
  }
  80% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0px 0px 30px 30px #444;
  }
  100% {
    box-shadow: 0px 0px 20px 20px #444;
  }
}

@keyframes upvote {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 1;
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes downvote {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  80% {
    opacity: 1;
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes show-title {
  0% {
    opacity: 0;
    margin: 0px;
    max-height: 0px;
    box-shadow: 0px 0px 0px 0px black;
    background: black;
  }
  100% {
    opacity: 1;
    margin: 10px auto 40px auto;
    max-height: none;
    box-shadow: 0px 0px 10px 10px #444;
    background: #444;
  }
}

@keyframes show-error {
  0% {
    opacity: 0;
    margin: 0px;
    max-height: 0px;
    box-shadow: 0px 0px 0px 0px black;
    background: black;
  }
  100% {
    opacity: 1;
    margin: 10px auto 40px auto;
    max-height: none;
    box-shadow: 0px 0px 10px 10px red;
    background: red;
  }
}

@keyframes show-vote-button {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@keyframes show-nav-button {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.6);
    box-shadow: 0px 0px 10px 10px #333;
  }
  80% {
    opacity: 1;
    box-shadow: 0px 0px 20px 20px #333;
    transform: translateY(0px) scale(1);
  }
  100% {
    box-shadow: 0px 0px 10px 10px #333;
  }
}
